/* 1352px/16(r)em as 1rem = 1em = 16px */
@media (max-width: 84em) {
  .aside {
    max-width: 60rem;
    padding: 9rem 6rem;
  }

  main {
    margin-left: 40rem;
  }

  footer {
    margin-left: 51rem;
  }

  .theme-toggle-wrap {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

/*  */
@media (min-width: 900px) {
  .contact-form {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .contact-form .contact-field:nth-child(3) {
    grid-column: 1 / -1;
  }

  .contact-form .contact-button {
    grid-column: 1 / -1;
  }
}

/* 1100 */
@media (max-width: 68em) {
  .aside {
    position: relative;
  }

  section.about {
    margin-top: 0rem;
  }

  main {
    padding: 0.1rem 6rem;
    margin-left: 0rem;
    max-width: 100%;
  }
  .nav {
    margin-top: 5rem;
  }
  .social-links {
    margin-top: 5rem;
  }
  .about {
    margin-top: -5rem;
  }
  section {
    margin-top: 10rem;
  }
  .grid img {
    width: 90%;
  }

  footer {
    margin-left: 0;
    padding: 0.1rem 8rem 5rem;
  }
}
/* 675 */
@media (max-width: 42em) {
  .aside {
    padding: 5rem 4rem;
  }
  main {
    padding: 3rem 3rem 1rem;
  }
  footer {
    margin-left: 0;
    padding: 0.1rem 5rem 4rem;
  }
  .grid {
    padding: 1rem 1rem 2rem;
  }
  .theme-toggle-wrap {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
    .theme-toggle {
    width: 2.8rem;
    height: 2.8rem;
  }
  .theme-toggle ion-icon {
  width: 1.4rem;
  height: 1.4rem;
}
}

/* 600 */
@media (max-width: 37em) {
  .aside {
    padding: 5rem 4rem;
  }
  .grid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-bottom: 3rem;
    padding: 1rem 1rem 2rem;
  }
  .grid img {
    width: 55%;
  }

  .blog-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }
  .blog-grid-textbox {
    margin-left: -1.6rem;
  }

  .blog-grid img {
    width: 80%;
  }
  .heading {
    line-height: 2rem;
  }

  .introduction h1 {
    font-size: 4.5rem;
  }

  .introduction h3 {
    line-height: 3.6rem;
  }

  .about {
    font-size: 1.3rem;
  }

  .heading {
    font-size: 1.5rem;
  }
  footer {
    font-size: 1.3rem;
  }

  .grid-description {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    /* line-height: 2.4rem; */

    font-weight: auto;
    letter-spacing: auto;
  }

  .mob-nav {
    display: block;
    padding: 2rem 0rem 0rem 0rem;
  }

  .blog-padding {
    padding: 0rem 1rem;
  }

  .contact-title {
    font-size: 1.3rem;
  }

  .contact-subtitle {
    font-size: 1.3rem;
  }

  .theme-toggle-wrap {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
  .theme-toggle {
    width: 2.8rem;
    height: 2.8rem;
  }
}
